<div class="hero-body hero-showcase">
  <div class="container has-text-centered">
    <h1 class="title">
      Find people that will help you.
    </h1>
    <h2 class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </h2>
    <button class="hero-button" mat-raised-button color="primary" routerLink="/doctors">Learn more</button>
  </div>
</div>