<section class="container">
  <div class="columns features">
    <div class="column is-full">
      <div class="box">

          <div class="section profile-heading">
            <div class="columns">
              <div class="column is-2">
                <div class="image is-128x128 avatar">
                  <img src="https://placehold.it/256x256">
                </div>
              </div>
              <div class="column is-4 name">
                <p>
                  <span class="title is-bold">John Smith</span>
                  <button class="follow" mat-raised-button color="primary" (click)="book()">Schedule an appointment</button>
                </p>
                <p class="tagline">The users profile bio would go here, of course. It could be two lines</p>
              </div>
              <div>
                
              </div>
            </div>
          </div>
      
      </div>
    </div>
  </div>
</section>